@import 'comment_detail';
@import 'footer';
@import 'form';
@import 'menu_item_detail';
@import 'menu_item_list';
@import 'nav';
@import 'restaurant_detail';
@import 'restaurant_list';

// color blocking
$dark-grey: #aeb6bf;
$light-grey: #bfc9ca;
$off-white-body: #f4f6f6;

// fonts
$bright-red-font: #e52d2d;
$maroon-font: #901313;

// links
$link-color: #a00202;
$hover-color: cyan;

body {
	width: 100%;
	padding: 0px;
	margin: 0px;
	text-align: center;
	background: $off-white-body;
	font-family: 'Syncopate', sans-serif;
}

h1 {
	color: $bright-red-font;
	font-size: 60px;
	letter-spacing: 30px;
	padding-top: 20px;
}

.author {
	font-size: 8px;
	letter-spacing: 0.5px;
	color: $dark-grey;
}

a:visited {
	color: $link-color;
}

a:hover {
	text-decoration: none;
	color: $hover-color;
}

ul {
	padding: 5px;
	li {
		text-decoration: none;
		list-style: none;
		padding: 5px;
	}
}

h2 {
	font-size: 35px;
	color: $maroon-font;
	background-color: $light-grey;
	margin: 0px;
	padding-top: 20px;
	padding-bottom: 5px;
}

h3 {
	color: $maroon-font;
}
