$light-grey: #bfc9ca;
$dark-grey: #aeb6bf;
$bright-red-font: #e52d2d;
$off-white-body: #f4f6f6;
$maroon-font: #901313;
$link-color: #a00202;

.footer {
	margin-bottom: 10px;
	a {
		font-size: 8px;
		display: inline;
	}
	form {
		font-size: 8px;
		padding: 7px;
		display: inline;
	}
}
