$light-grey: #bfc9ca;
$dark-grey: #aeb6bf;
$bright-red-font: #e52d2d;
$off-white-body: #f4f6f6;
$maroon-font: #901313;
$link-color: #a00202;

.single-item-view {
	padding-top: 10px;
	.restaurant-name {
		text-align: right;
		padding-right: 10px;
	}
	img {
		padding: 5px;
		padding-bottom: 25px;
	}
	.food-image {
		max-width: 400px;
		max-height: 400px;
	}
	.comment-header {
		padding-top: 15px;
		font-size: 30px;
		background-color: $dark-grey;
		margin: 0px;
	}
	.comment-list {
		background-color: $dark-grey;
	}
}
