$light-grey: #bfc9ca;
$dark-grey: #aeb6bf;
$bright-red-font: #e52d2d;
$off-white-body: #f4f6f6;
$maroon-font: #901313;
$link-color: #a00202;

.menu-item-list {
	background-color: $dark-grey;
	font-size: 17px;
	.menu-item-detail {
		color: black;
		font-size: 9px;
	}
}
