$light-grey: #bfc9ca;
$bright-red-font: #e52d2d;
$off-white-body: #f4f6f6;
$maroon-font: #901313;
$link-color: #a00202;

.nav-top {
	padding: 20px;
	color: #212f3d;
	margin: 20px;
	font-size: 17px;
}
