$light-grey: #bfc9ca;
$bright-red-font: #e52d2d;
$off-white-body: #f4f6f6;
$maroon-font: #901313;
$link-color: #a00202;

.restaurant-list {
	background-color: #aeb6bf;
	font-size: 17px;
	.restaurant-list-detail {
		color: black;
		font-size: 9px;
	}
}
