.restaurant-detail-body {
	background-color: #f0f3f1;
	margin: 0px;
	padding: 20px;
}

.favorites {
	background-color: #aeb6bf;
	padding-top: 15px;
	.favorites-title {
		font-weight: heavy;
		font-size: 25px;
	}
	.favorites-list {
		background-color: #aeb6bf;
	}
}
