$light-grey: #bfc9ca;
$dark-grey: #aeb6bf;
$bright-red-font: #e52d2d;
$off-white-body: #f4f6f6;
$maroon-font: #901313;
$link-color: #a00202;

.restaurant-detail-body {
	margin: 0px;
	padding: 20px;
}

.favorites-title {
	font-size: 25px;
	background-color: $dark-grey;
	padding-top: 15px;
	margin: 0px;
}
.favorites-list {
	background-color: $dark-grey;
}
