{% load sass_tags %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
			integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
			crossorigin="anonymous"
		/>
		<link
			href="{% sass_src 'foodie_buddies.scss' %}"
			rel="stylesheet"
			type="text/css"
		/>
		<link
			href="https://fonts.googleapis.com/css?family=Syncopate&display=swap"
			rel="stylesheet"
		/>
		<title>FoodieBuddies</title>
	</head>
	<body>
		<h1>Foodie Buddies<span class="author">by E.Rio</span></h1>
		<nav>
			<h3>
				<a class="nav-top" href="/restaurants"> Restaurants</a> |
				<a class="nav-top" href="/menuitems"> On To The Food! </a>
			</h3>
		</nav>

		{% block content %} {% endblock %}
	</body>
</html>
