{% extends 'foodie_buddies/base.html' %} {% block content %}
<div>
	<h2>{{ restaurant.name }}</h2>
	<div class="restaurant-detail-body">
		<h4>{{ restaurant.cuisine }}</h4>
		<p>{{ restaurant.street_address }}</p>
		<p>{{ restaurant.city }}, {{ restaurant.state }}</p>
		<p>{{ restaurant.country }}</p>
	</div>
		<h4 class="favorites-title">
			Favorites found here <a href="{% url 'menu_item_create' %}">(+)</a>
		</h4>
		<ul class="favorites-list">
			{% for menu_item in restaurant.menu_item.all %}
			<li>
				<a href="{% url 'menu_item_detail' pk=menu_item.pk %}">{{ menu_item.name }}</a>
			</li>
			{% endfor %}
		</ul>
	</div>
</div>
{% endblock %}
